<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">What's My Password?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="text-center">
                                <p>If you have forgotten your password you can reset it here.</p>
                                  <div class="panel-body mt-3">
                                    <form action="/forgot-password" method="POST">
                                      <fieldset>
                                          <div class="form-group">
                                              <input class="form-control input-lg" placeholder="E-mail Address" name="email" id="email" type="email">
                                          </div>
                                          <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                      </fieldset>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                <button class="btn float-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>	
            </div>
        </div>
        </div>
      </div>
</body>
</html>